<html>
<head>
  <title>Calendar</title>
  <link href='CalendarMark2.css' type='text/css' rel='stylesheet'>
</head>
<body>
  <div id='contentDiv'><i>Loading...</i></div>
  <div id='StatusDisplay' style='display:none'></div>
  <@ jwacs_imports @>
</body>
</html>
