<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>jwacs editor</title>
  <link href='WebIdeClient.css' type='text/css' rel='stylesheet'>
</head>
<body>
<div id='contentDiv'>
  <form action='javascript:doLoad();'>
    Source file: <input id='sourceName' type='text' onKeyUp='updateButtons();'>
    <input id='loadButton' type='button' value='load' onclick='doLoad();'>
    <input id='saveButton' type='button' value='save' onclick='doSave();'>
<!--    <input id='compileButton' type='button' value='compile' onclick='doCompile();'> -->
    <input id='runButton' type='button' value='run' onclick='doRun();'>
  </form>
  <textarea id='sourceText' rows=24 cols=80></textarea>
  <div id='dummyDiv'>dummy text</div>
  <form action='javascript:doEval();'>
    Eval input:<br>
    <input id='evalInput' type='text' size=80>  
  </form>
  <p><br>
  Errors:<br>
  <div id='errorText' style='width: 40em; border: 1px dashed red;'><br></div>
  <div id='exceptions'></div>
</div>
<@ jwacs_imports @>
</body>
</html>
