<html>
<head>
  <title>jwacs editor</title>
</head>
<body>
<div id='contentDiv'>
  <form action='javascript:doLoad();'>
    Source file: <input id='sourceName' type='text' onKeyUp='updateButtons();'><br>
    <textarea id='sourceText' rows=24 cols=80></textarea>
    <br>
    <input id='loadButton' type='button' value='load' onclick='doLoad();'>
    <input id='saveButton' type='button' value='save' onclick='doSave();'>
    <input id='compileButton' type='button' value='compile' onclick='doCompile();'>
    <input id='runButton' type='button' value='run' onclick='doRun();'>
    <p><br>
    Errors:<br>
    <div id='errorText' style='width: 40em; border: 1px dashed red;'><br></div>
  </form>
</div>
<@ jwacs_imports @>
</body>
</html>
